:root {
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --desaturatedDarkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--lightGrayishBlue);
}

#main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46rem;
    height: auto;
    border: 1px solid var(--lightGrayishBlue);
    border-radius: 8px;
    background-color: white;
    font-family: 'Manrope', sans-serif;
}

#main-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    height: auto;
}

#potrait {
    border-radius: 8px 0 0 8px;
    width: 300px;
    height: auto;
}

#potrait img {
    border-radius: inherit;
    width: inherit;
    height: 100%;
}

#contents {
    position: relative;
    padding: 12px;
}

.headers h3 {
    margin-top: 0;
    font-size: x-large;
    color: var(--veryDarkGrayishBlue);
}

.headers p {
    font-size: 15px;
    color: var(--grayishBlue);
}

#bottom-contents {
    position: relative;
}

#bottom-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bottom-info {
    position: relative;
    display: flex;
}

#profile-info {
    position: relative;
    display: flex;
    flex-direction: row;
}

#profile-photo {
    width: 38px;
    height: auto;
    margin-right: 10px;
    border-radius: 20px;
}

#profile-photo img {
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit;
}

#profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}

#name {
    color: var(--veryDarkGrayishBlue);
    font-weight: 700;
}

#date {
    color: var(--grayishBlue);
}

.pf {
    margin: 0;
}

.share-div {
    position: relative;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hover-div {
    display: none;
    position: absolute;
    width: fit-content;
    border: 1px solid transparent;
    bottom: 100%;
}

#hover-div-II {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: var(--veryDarkGrayishBlue);
    border-radius: 7px;
}

#hover-contents {
    color: var(--grayishBlue);
    display: flex;
    align-items: center;
}

.shr {
    margin: 5px 7px;
    font-size: 18px;
}

.shr:hover {
    cursor: pointer;
}

#hover-arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--veryDarkGrayishBlue);
    margin-left: 45.7%;
}

#mobile-hover-div-container {
    display: none;
    position: absolute;
    width: 100%;
}

#mobile-hover-div {
    display: none;
}

.share-button {
    border: 1px solid transparent;
    background-color: var(--lightGrayishBlue);
    padding: 5px 7px;
    border-radius: 16px;
}

.share-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    #hover-div {
        visibility: hidden;
    }

    #bottom-info {
        position: relative;
        display: flex;
    }

    #mobile-hover-div {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0.3rem 0;
        background-color: var(--veryDarkGrayishBlue);
        border-radius: 7px;
        width: 100%;
        border-radius: 5px;
    }

    #hover-contents {
        display: flex;
        align-items: center;
        margin-left: -40%;
    }

    .hide-profile {
        visibility: hidden;
    }

    .share-button {
        padding: 3px 6px;
    }

}

@media screen and (max-width: 740px) {

    #bottom-contents {
        margin-top: 1%;
    }

    #main-div {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: fit-content;
        height: auto;
        margin-top: 3%;
        border-radius: 5px;
    }

    #main-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: inherit;
        height: auto;
    }

    #potrait {
        border-radius: 5px 5px 0 0;
        width: 100%;
        height: auto;
    }
}