:root {
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --desaturatedDarkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--grayishBlue);
}

#main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46rem;
    height: auto;
    border: 1px solid var(--grayishBlue);
    border-radius: 5px;
    background-color: white;
}

#main-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

#potrait {
    border-radius: 5px 0 0 5px;
    width: 300px;
    height: fit-content;
}

#potrait img {
    border-radius: inherit;
    width: inherit;
    height: fit-content;
}

#contents {
    position: relative;
    margin-left: 1rem;
}

.headers h3 {
    font-size: x-large;
}

.headers p {
    font-size: medium;
}

#bottom-contents {
    position: relative;
}

#bottom-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bottom-info {
    position: relative;
    display: flex;
}

#profile-info {
    position: relative;
    display: flex;
    flex-direction: row;
}

#profile-photo {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border: 0.1px solid transparent;
    border-radius: 20px;
}

#profile-photo img {
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit;
}

#profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pf {
    margin: 0;
}

.share-div {
    position: relative;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hover-div {
    /* display: none; */
    position: absolute;
    width: fit-content;
    border: 1px solid var(--veryDarkGrayishBlue);
    border-radius: 5px;
    bottom: 80%;
}

#hover-div-II {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: var(--veryDarkGrayishBlue);
}

#hover-contents {
    color: var(--grayishBlue);
    display: flex;
    align-items: center;
}

.shr {
    margin: 5px;
    font-size: 18px;
}

